main{
    margin-top: 3em;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:start
    ;
}

main .big-container{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
}

.big-container h1{
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2em;
}

.advice-container{
    padding: 0em 2em 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60%;
}

.advice-container h3{
    width: 100%;
    text-align: left;
    margin-bottom: 1em;
}
.advice-container .legal{
    margin-top: 1em;
}

@media(min-width: 400px){
    
  }

@media(min-width: 700px){
    .advice-container{
        padding: 0em 3em 1.5em 3em;
        width: 90%;
       
    }
   
}


@media(min-width: 600px){

  }

@media(min-width: 900px){
    .advice-container{
        width: 80%;
       
    }
  }

  @media(min-width: 950px){
    
  }

  @media(min-width: 1024px){
   
    
  }
  @media(min-width: 1280px){
   
    
  }